h1 {
    text-align: center;
}

.books {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 320px) ;
}
img {
    width: 150px;
    height: 150px;
}

.book{
    border-radius: 10px;
    background-color: lightblue;
    margin: 1rem;
    padding: 0.5rem;
}